PAYLOAD_SECRET=
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
CRON_SECRET=
PREVIEW_SECRET=

DATABASE_URL=
DATABASE_URL_UNPOOLED=
PGHOST=
PGHOST_UNPOOLED=
PGUSER=
PGDATABASE=
PGPASSWORD=
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_URL_NO_SSL=
POSTGRES_PRISMA_URL=
R2_ENDPOINT=
R2_BUCKET=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

SMTP_USER=
SMTP_PASS=your_gmail_app_password_here
CONTACT_EMAIL=

